<?xml version='1.0' encoding='utf-8'?>
<setting>
	<name>settings.xml</name>
	<source_dir>/bill/</source_dir>
	<work_dir>/usr/sbin/bill/tmp/</work_dir>
	<lpuId>43301</lpuId>
	<id_MO>4330101</id_MO>
	<MO>Муниципальное бюджетное учреждение здравоохранения «Центральная районная больница» Сальского района</MO>
</setting>