<?xml version='1.0' encoding='utf-8'?>
<setting>
	<name>settings.xml</name>
	<!-- Сетевая папка из которой берутся файлы реестра и выкладываются результаты -->
	<source_dir>/bill/</source_dir>
	<!-- Папка для временных файлов, должна отличаться от source_dir -->
	<work_dir>/usr/sbin/bill/tmp/</work_dir>
	<!-- Первые 5 цифр кода лпу по ТФОМС для поиска файлов реестров-->
	<lpuId>43301</lpuId>
    <!-- Полный код СПУ по тфомс -->
	<id_MO>4330101</id_MO>
	<!-- Полное наименование МО -->
	<MO>Муниципальное бюджетное учреждение здравоохранения «Центральная районная больница» Сальского района</MO>
</setting>